* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* padding-top: 25px; */
    font-family: Arial, sans-serif;
    /* background-color: grey; */

}

.container{
    margin-top: 30px;
}

.mg-content{
    margin: 2px;
    background-color: rgba(247, 246, 246, 0.899);
    height: 85%;
    /* ti nho doc */
    box-shadow: 4px 4px rgba(61, 61, 62, 0.25); 
    border-radius: 5px;
}


.cell{
    font-size: 2.5rem;
    min-height: 20vh;
    text-align: center;
    /* border: 2px solid black; */
}

.cell p{
    letter-spacing: 1px;
    line-height: 1.5;
}

.cell .btn-profile{
    float: right;
}

.light-pos{
    position: relative;
}

.info{
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    /* padding: 2px 3px; */
    /* background-color: rgb(255, 98, 0); */
}

.info-icon{
    font-size: 30px;
    color: black;
}


/*------------------------------------------------------------------------------------*/
/* Switch sensor 1 */

.switch{
    display: flex;
    justify-content: center; 
    align-items: center;
    background: #fff;
    min-height: 34vh;
    border-radius: 1px;
}


.sensor-1{
    position: relative;
    /* transform: translateY(-100px); */
    transform: translateY(102px);
    width: 75px;
    height: 37px;
    /* background-color: #f0eded; */
    background-color: rgb(184, 209, 209);
    border-radius: 10px;
}

.sensor-1 input{
    appearance: none;
}

.sensor-1 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 37px;
    height: 37px;
    background: #333;
    border: 4px solid #212121;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.5s;

    /* chinh icon ra giua */
    display: flex;
    justify-content: center;
    align-items: center;
}

#dashboard{
    height: 79vh;
}

.sensor-1 input:checked ~ span{
    background-color: blue;
    left: 37px;
}

.sensor-1 span ion-icon{
    /* color: rgba(255, 255, 255, 0.25); */
    color: rgb(232, 223, 223);
    font-size: 1em;
}

.sensor-1 input:checked ~ span ion-icon{
    color: rgb(224, 223, 232);
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #fff) drop-shadow(0 0 15px #fff);
}

.bulb{
    position: absolute;
    right: -42px; /*-42*/
    top: -208px; /*36*/
    width: 170px;
    height: 208px;
    /* transform: translateX(-38px, 16px); */
    pointer-events: none; /*vo hieu hoa tuong tac chuot*/
    background: url(../images/bulb_off.jpg);
    background-size: cover;
    
}

.fan{
    position: absolute;
    right: -30px; /*-42*/
    top: -170px; /*36*/
    width: 140px;
    height: 140px;
    /* transform: translateX(-38px, 16px); */
    pointer-events: none; /*vo hieu hoa tuong tac chuot*/
    background: url(../images/fan_off.gif);
    background-size: cover;
}

/* .sensor-1 input:checked ~ .bulb{
    background: url(../images/bulb_off.jpg);
    background-size: cover;
} */

/* .sensor-1 input:checked ~ .fan{
    background: url(../images/fan_off.gif);
    background-size: cover;
    animation: spin 2s linear infinite;
} */
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.btnLed3 {
    position: absolute;
    top: -250px;
    /* right: 100px; */
    left: 100px;
    bottom: 0;
}

.bulb-3{
    position: absolute;
    right: -42px; /*-42*/
    top: -208px; /*36*/
    width: 170px;
    height: 208px;
    /* transform: translateX(-38px, 16px); */
    pointer-events: none; /*vo hieu hoa tuong tac chuot*/
    background: url(../images/bulb_off.jpg);
    background-size: cover;
    
}




.dashboard-container{
    height: 507px;
}


